<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="../public/css/bootstrap.min.css">
    <link rel="stylesheet" href="../public/css/index.css">
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg">
            <div class="container-fluid py-3 px-4">
                <div class="d-flex align-items-center">
                    <img src="../public/images/logo_kmitl.png" alt="" width="100px" height="100px">
                    <div class="ms-3 fs-5 custom-nav">
                        <p>สถาบันเทคโนโลยีพระจอมเกล้าเจ้าคุณทหารลาดกระบัง</p>
                        <p>King Mongkut's institute of Technology Ladkrabang</p>
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <main>
        <div class="container-fluid">
            <div class="row  mt-3 mx-5 rounded-5 custom-row">
                <div class="col-12 m-5">
                    <div class="row">
                        <div class="col-12 text-center my-5 fs-1 fw-bold">
                            <p>กฎระเบียบการใช้ตู้</p>
                        </div>
                    </div>
                    <div class="row d-flex align-items-center justify-content-center mb-5">
                        <div class="d-flex justify-content-center display-6">
                            <p>
                                1. กรุณาใส่บัตรนักศึกษา <br>
                                2. เลือกตู้และทำการตั้งรหัสผ่าน <br>
                                3. เมื่อเปิดตู้ล็อกเกอร์แล้วกรุณาปิดตู้ล็อกเกอร์ทุกครั้ง <br>
                                4. สามารถฝากสัมภาระได้เป็นระยะเวลา 7 วัน <br>
                                5. หากเลย7วันสามารถมารับของได้ที่ห้องภาควิชาครุศาสตร์วิศวกรรม <br>
                                6. กรณีลืมรหัสผ่านให้แจ้งอาจารย์ผู้ดูแลและนำบัตรนักศึกษามาด้วย <br>
                                7. กรณีฝากอาหาร กรุณานำออกภายใน 1 วัน <br>
                            </p>
                        </div>

                        <div class="d-flex justify-content-center display-6 mt-5">
                            <a type="button" class="custom-btn btn fs-1 border border-black px-5 mt-3"
                                href="memu.html">เริ่มต้นการใช้งาน</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</body>

</html>